body {
  font-family: "Noto Sans", sans-serif;
  color: white;
  background-color: #ffe08a !important;
  padding-top: 60px;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.textarea {
  width: 300px;
  height: 150px;
}

.container {
  display: flex;
}
ul {
  display: table;
  margin: 0 auto;
}

#langCodeOfDetect {
  text-align: center;
}

#userDetectInput {
  width: 30%;
  left: 33%;
  margin: 1%;
}

#detectUsersInput {
  margin: 0 auto;
  display: block;
}

#selectLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

#languageSelectionBar3 {
  left: 6%;
}
#Top5 {
  margin: 0 auto;
  display: block;
}

@media only screen and (min-width: 500px) {
  .buttonsStuff {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

::placeholder {
  opacity: 6;
}
.imageResize {
  width: 1200px;
  height: 250px;
  right: 5%;
}

.buttonsStuff {
  display: flex;
  align-items: center;
  justify-content: center;
}
#JoshuasGarbage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#myUl {
  padding-bottom: 5%;
}

.followMe {
  position: fixed;
  top: 0;
  width: 100%;
}

.textColor {
  color: white;
}

.navbar-brand {
  background-color: black;
}

.navbar-item img {
  max-height: 4.5rem;
}

.navbar-burger {
  height: 5.55rem;
}

a.navbar-item {
  background-color: black;
}
.navbar-menu {
  background-color: black;
}
/*Type Writing Effect */

.typewriter-effect {
  display: flex;
  justify-content: center;
  font-family: monospace;
  color: #ffe08a;
}

.typewriter-effect > .text {
  max-width: 0;
  animation: typing 3s steps(var(--characters)) infinite;
  white-space: nowrap;
  overflow: hidden;
}

.typewriter-effect:after {
  content: " |";
  animation: blink 1s infinite;
  animation-timing-function: step-end;
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}
